@import "utils/reset";

$bgBodyColor: #29504b;
$white: #fff;

body {
    background: $bgBodyColor;
    color: $white;
}

.container {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    devo-video {
        width: 48%;
    }
}
